name: YAML test file

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  
  workflow_dispatch:

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Download Requirements from Requirements.txt
        run: pip install -r "requirements.txt"

      - name: Test Calculator
        run: python -m unittest "test_calculator.py"
